html{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

h1{
    text-align: center;
    padding: 3rem;

}

#parallax{
    height: 200vh;
    padding: 10rem;
}

#pic1{
    position: relative;
    width: 80vw;
    z-index: -88;
}

#slide1{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/instrument_icon.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 500px;
    translate: -45%;
    scale: 20%;

}

#slide2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/textfile_icon.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 30%;
    translate: 51%;

}

#slide3{
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/computer_icon.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 140%;
    translate: 17%;

}

#slide4{
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/bag_icon.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    translate: 85%;


}

#slide5{
    position: absolute;
    top: 0;
    left: -1150px;
    right: 0;
    bottom: -2400px;
    scale: 20%;
    background-image: url('./images/icon1.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}

#slide6{
    position: absolute;
    top: 0;
    left: 0;
    right: -1200px;
    bottom: -2400px;
    scale: 20%;
    background-image: url('./images/icon1.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}